In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1278,tt1235522,56000000,19701164,Broken City,Mark Wahlberg|Russell Crowe|Catherine Zeta-Jon...,Allen Hughes,Proof Can Be a Powerful Weapon.,"In a broken city rife with injustice, ex-cop B...",109,Thriller|Crime|Drama,Regency Enterprises|Inferno International|1984...,1/18/2013,5.7,2013
1518,tt0493430,11000000,72778712,Jackass Number Two,Johnny Knoxville|Bam Margera|Steve-O|Chris Pon...,Jeff Tremaine,Guess who just made number two?,Jackass Number Two is a compilation of various...,95,Action|Comedy|Documentary,Paramount Pictures,9/22/2006,6.4,2006
962,tt0259288,60000000,52322400,Dragonfly,Kevin Costner|Joe Morton|Ron Rifkin|Susanna Th...,Tom Shadyac,When someone you love dies... are they gone fo...,A grieving doctor is being contacted by his la...,104,Drama,Universal Pictures|Spyglass Entertainment|Shad...,2/22/2002,6.2,2002
688,tt1073498,30000000,84646831,Meet the Spartans,Sean Maguire|Carmen Electra|Ken Davitian|Kevin...,Jason Friedberg|Aaron Seltzer,"The Bigger the Hit, The Harder They Fall",From the creators of Scary Movie and Date Movi...,84,Comedy,Regency Enterprises|New Regency Pictures,1/24/2008,4.0,2008
1164,tt0316465,32000000,52277485,Radio,Cuba Gooding Jr.|Ed Harris|Alfre Woodard|S. Ep...,Mike Tollin,His courage made them champions.,"Football coach Harold Jones befriends Radio, a...",109,Drama,Revolution Studios|Tollin/Robbins Productions,10/24/2003,7.1,2003

In [3]:
data.describe()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
imdb_id                 1889 non-null object
budget                  1889 non-null int64
revenue                 1889 non-null int64
original_title          1889 non-null object
cast                    1889 non-null object
director                1889 non-null object
tagline                 1889 non-null object
overview                1889 non-null object
runtime                 1889 non-null int64
genres                  1889 non-null object
production_companies    1889 non-null object
release_date            1889 non-null object
vote_average            1889 non-null float64
release_year            1889 non-null int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

data['profit'] = data['revenue']-data['budget'] # добавление к dataset нового столбца profit(прибыль)
data['release_month'] = pd.to_datetime(data.release_date).apply(lambda x: x.month) # новый столбец c порядковым номером месяца выхода фильма
data['ov_length'] = data.overview.apply(lambda x: len(x)) # новый столбец c длинной (кол-во символов) описания фильма
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,ov_length
688,tt1073498,30000000,84646831,Meet the Spartans,Sean Maguire|Carmen Electra|Ken Davitian|Kevin...,Jason Friedberg|Aaron Seltzer,"The Bigger the Hit, The Harder They Fall",From the creators of Scary Movie and Date Movi...,84,Comedy,Regency Enterprises|New Regency Pictures,1/24/2008,4.0,2008,54646831,1,399
1510,tt0401445,35000000,42064105,A Good Year,Russell Crowe|Marion Cotillard|Albert Finney|T...,Ridley Scott,Everything matures... eventually.,Failed London banker Max Skinner inherits his ...,118,Comedy|Drama|Romance,Fox 2000 Pictures|Scott Free Productions,9/9/2006,6.4,2006,7064105,9,239
588,tt0234829,34000000,19693891,Summer Catch,Freddie Prinze Jr.|Jessica Biel|Fred Ward|Matt...,Mike Tollin,Are you game?,A coming-of-age romantic comedy set against th...,108,Drama|Comedy|Romance,Tollin/Robbins Productions|Warner Bros.,8/22/2001,4.8,2001,-14306109,8,423
443,tt1414382,20000000,32005248,You Again,Kristen Bell|Sigourney Weaver|Betty White|Kris...,Andy Fickman,What doesn't kill you... is going to marry you...,History -- make that high school -- may repeat...,105,Comedy|Romance,Oops Doughnuts Productions|Touchstone Pictures...,9/24/2010,6.0,2010,12005248,9,319
41,tt1655441,25000000,42629776,The Age of Adaline,Blake Lively|Michiel Huisman|Harrison Ford|Ell...,Lee Toland Krieger,Love is timeless.,After 29-year-old Adaline recovers from a near...,112,Fantasy|Drama|Romance,Lakeshore Entertainment|Sidney Kimmel Entertai...,4/16/2015,7.3,2015,17629776,4,216

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides' # "+"

In [6]:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
answers['2'] = 'Gods and Generals' # "+"

In [8]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
answers['3'] = 'Winnie the Pooh' # "+"

In [10]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = '109.6585494970884' # "+"

In [12]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [13]:
answers['5'] = '107.0' # "+"

In [14]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [15]:
answers['6'] = 'Avatar' # "+"

In [16]:
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [17]:
answers['7'] = 'The Lone Ranger' # "+"

In [18]:
data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [19]:
answers['8'] = '1478' # "+"

In [20]:
len(data[data.profit>0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [21]:
answers['9'] = 'The Dark Knight' # "+"

In [22]:
df_2008 = data[data.release_year == 2008]
df_2008[df_2008.revenue == df_2008.revenue.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [23]:
answers['10'] = 'The Lone Ranger' # "+"

In [24]:
df_per = data[(data.release_year>=2012) & (data.release_year<=2014)]
df_per[df_per.profit == df_per.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [64]:
answers['11'] = 'Drama' # "+"

In [26]:
data.genres.str.split('|',expand=True).stack().value_counts().head(5)

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [27]:
answers['12'] = 'Drama' # "+"

### Вариант 1

In [28]:
from collections import Counter
genres = data[data['profit'] > 0]['genres'].to_list()
films = Counter()
for i in genres:
    for j in i.split('|'):
        films[j] += 1
films.most_common(5)

[('Drama', 560),
 ('Comedy', 551),
 ('Thriller', 446),
 ('Action', 444),
 ('Adventure', 337)]

### Вариант 2

In [29]:
data_profit = data[data.profit > 0]
genres = data_profit.genres.str.split('|',expand=True).stack().value_counts()
genres.head(5)

Drama        560
Comedy       551
Thriller     446
Action       444
Adventure    337
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [30]:
answers['13'] = 'Peter Jackson' # "+"

### Вариант 1

In [31]:
# не довелось довести до конца :(((

#reven_sum=[]
#reven_total=0
#directors = data.director.str.split('|', expand = True).stack().unique()
#for director in directors:
#    reven_total=0
#    for record in data:    
#        if record.director.str.costains(director):
#            reven_total+=record.revenue
#    reven_sum.append(record.director,reven_total)

### Вариант 2

In [32]:
data.groupby(by='director').sum().revenue.sort_values(ascending=False).head(5)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [33]:
answers['14'] = 'Robert Rodriguez' # "+"

In [34]:
data_act = data[data.genres.str.contains('Action')]
data_act.director.str.split('|', expand=True).stack().value_counts()

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Colin Trevorrow       1
Danny Pang            1
Ilya Naishuller       1
Jan de Bont           1
Frank Coraci          1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [35]:
answers['15'] = 'Chris Hemsworth' # "+"

In [36]:
df = data[data.release_year == 2012][['cast', 'revenue']]
df.cast = df.cast.apply(lambda s: s.split('|'))
data_sub_exploded = df.explode('cast')
data_sub_exploded.groupby(by='cast').revenue.sum().sort_values(ascending=False).head(5)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [37]:
answers['16'] = 'Matt Damon' # "+"

In [38]:
df = data[data.budget > data.budget.mean()]
df.cast.str.split('|', expand=True).stack().value_counts()

Matt Damon        18
Adam Sandler      17
Angelina Jolie    16
Tom Cruise        15
Eddie Murphy      15
                  ..
Bill Irwin         1
Imogen Poots       1
Eli Wallach        1
Alan Ritchson      1
Michael Irby       1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [39]:
answers['17'] = 'Action' # "+"

In [40]:
data_cage = data[data.cast.str.contains('Nicolas Cage')]
data_cage.genres.str.split('|', expand=True).stack().value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
Romance             1
Horror              1
War                 1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [41]:
answers['18'] = 'K-19: The Widowmaker'

In [42]:
data_new = data[data.production_companies.str.contains('Paramount Pictures')]
data_new[data_new.profit == data_new.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [43]:
answers['19'] = '2015' # "+"

In [44]:
data.groupby(by='release_year').sum().revenue.sort_values(ascending=False).head(5)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [45]:
answers['20'] = '2014' # "+"

In [46]:
data_new = data[data.production_companies.str.contains('Warner Bros')]
pd.DataFrame(data_new.groupby(by='release_year').profit.sum()).sort_values('profit', ascending=False).head(1)

                  profit
release_year
2014          2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [47]:
answers['21'] = 'сентябрь' # "+"

In [67]:
Counter(data['release_month']).most_common(1)

[(9, 227)]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [49]:
answers['22'] = '450' # "+"

In [50]:
len(data[data.release_month.isin([6,7,8])])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [51]:
answers['23'] = 'Peter Jackson' # "+"

In [52]:
data_tmp = data[data.release_month.isin([1, 2, 12])]
data_tmp.director.str.split('|', expand=True).stack().value_counts().head(5)

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Nancy Meyers         4
Adam Shankman        4
dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [53]:
answers['24'] = 'Four By Two Productions' # "+"

In [54]:
def counter(movie_bd, x):
    data_plot=movie_bd[x].str.cat(sep='|')
    dat=pd.Series(data_plot.split('|'))
    info=dat.value_counts(ascending=False)
    return info

data['title_words_length'] = data.original_title.map(lambda x: len(x.split(' ')))
sum_gen=counter(data,'production_companies')
for gen in sum_gen.index:
    sum_gen[gen] = data['title_words_length'][data['production_companies'].map(lambda x: True if gen in x else False)].mean()
sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending=False)
sum_gen.head(5)

                          0
Four By Two Productions  12
Jim Henson Company, The  10
Polsky Films              9
Dos Corazones             9
The Saul Zaentz Company   9

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [55]:
answers['25'] = 'Midnight Picture Show' # "+"

In [68]:
df = data[['production_companies','ov_length']]
df.production_companies = df.production_companies.apply(lambda s: s.split('|'))
data_sub_exploded = df.explode('production_companies')
data_sub_exploded.groupby(by='production_companies').ov_length.mean().sort_values(ascending=False).head(5)

production_companies
Midnight Picture Show               1000.0
Room 9 Entertainment                 964.0
Brookwell-McNamara Entertainment     936.0
Lions Gate Family Entertainment      909.0
Crest Animation Productions          909.0
Name: ov_length, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [65]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' # "+"

In [58]:
data[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']].original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [59]:
answers['27'] = 'Daniel Radcliffe Rupert Grint' # "+"

In [60]:
from itertools import combinations
actor_list = data.cast.str.split('|').tolist()
combo_list=[]
for i in actor_list:
    for j in combinations(i, 2):
        combo_list.append(' '.join(j))
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combinations']
combo_list.actor_combinations.value_counts().head(10)

Daniel Radcliffe Emma Watson        8
Daniel Radcliffe Rupert Grint       8
Rupert Grint Emma Watson            7
Johnny Depp Helena Bonham Carter    6
Ben Stiller Owen Wilson             6
Robert Pattinson Taylor Lautner     5
Hugh Jackman Ian McKellen           5
Kristen Stewart Taylor Lautner      5
Adam Sandler Kevin James            5
Kristen Stewart Robert Pattinson    5
Name: actor_combinations, dtype: int64

# Submission

In [66]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '109.6585494970884',
 '5': '107.0',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe Rupert Grint'}

In [62]:
# и убедиться что ни чего не пропустил)
len(answers)

27